@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  box-shadow: none !important
}

.select-field {
  padding: 0.8em;
  border-radius: 0.3em;
}
.select-field:focus {
  padding: 0.8em;
  border-radius: 0.3em;
  box-shadow: none !important;
  outline: 1px solid rgb(20 184 166) !important;
}

@layer components {
  .input-container {
    @apply w-full my-4 self-center flex items-center border-b border-teal-500 py-2;
  }

  .input-field {
    @apply appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none shadow-none
  }
  .generate-button {
    @apply flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded
  }


}